@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "reset.scss"; 

body{
  font-family: 'Lato', sans-serif;
}

.default-interface{
  max-width: 1366px;
  margin: 40px 20px 0; 
  padding: 40px;
  box-shadow: 3px 6px 35px rgba(0,0,0, 0.11);
  border-radius: 15px;
  > h1{
    color: #1d1d1d;
    font-size: 31px;
    margin-bottom: 20px;
  }
  >a{
    background-color: #6BFFAE;
    color: #FFF;
    font-weight: 700;
    padding: 0 25px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin: 25px 0;
  }
  >.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.book{
  background-color:#d3ffe5;
  padding: 25px;
  border-radius: 9px;
  transition: transform 0.2s ease;
  width: 30%;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
  }
  div.generic-infos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >span{
      font-weight: 600;
      font-size: 14px;
    }
  }
  >div:nth-of-type(2){
    display: flex;
    margin-top: 20px;
    a, button{
      padding: 0 20px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      font-size: 12px;
      font-weight: 700;
      box-shadow: 3px 6px 16px rgba(0,0,0, 0.16);
    }
    a{
      background-color: #6BFFAE;
      border-radius: 15px 0 0 15px;
    }
    button{
      background-color: red;
      border-radius: 0 15px 15px 0 ;
    }
  }
}

.default-form{
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 80px;
  border-radius: 20px;
  box-shadow: 3px 6px 35px rgba(0,0,0, 0.11);

  >div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
    label{
      margin-left: 20px;
      text-transform: uppercase;
      font-weight: 700;
    }
    input{
      width: 100%;
      height: 40px;
      padding: 0 20px;
      margin: 15px 0 0;
      text-transform: uppercase;
      background-color: #FFF;
      border: 2px solid #4ED28B;
      border-radius: 20px;
      background-color:#d3ffe5;
    }
  }
  button{
    display: flex;
    margin: 0 auto;
    height: 40px;
    border-radius: 20px;
    background-color: #6BFFAE;
    padding: 0 25px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
  }
}